<!DOCTYPE html>

<html>

    <head>
        <link href="C:\Users\yashk\OneDrive\Desktop\Codes\HTML-CSS\CSS\Layout\layout1.css" type="text/css" rel="stylesheet" />
    </head>

    <body>

        <h1>The Evolution of the Bicycle</h1>
        <blockquote>"Life is like riding a bicycle.
            To keep your balance you must keep moving." -
            Albert Einstein</blockquote>
           
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium fugiat accusamus soluta aut temporibus, voluptas ut distinctio ratione quisquam possimus quas enim consequuntur cupiditate corporis! Repellat quae consequuntur eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex beatae cupiditate incidunt commodi voluptatibus hic vel, dolores minus veritatis saepe deserunt repellendus cum voluptatem doloremque repellat pariatur eligendi exercitationem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatum eius rerum ratione et aperiam quo, optio, ipsum, sequi tempora laboriosam animi nihil natus. Enim ea consequuntur nostrum reiciendis nihil.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat maiores soluta repellendus accusantium possimus repellat aperiam, ducimus impedit delectus perspiciatis eligendi error dolores ipsam totam consectetur magni quidem obcaecati!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium fugiat accusamus soluta aut temporibus, voluptas ut distinctio ratione quisquam possimus quas enim consequuntur cupiditate corporis! Repellat quae consequuntur eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex beatae cupiditate incidunt commodi voluptatibus hic vel, dolores minus veritatis saepe deserunt repellendus cum voluptatem doloremque repellat pariatur eligendi exercitationem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatum eius rerum ratione et aperiam quo, optio, ipsum, sequi tempora laboriosam animi nihil natus. Enim ea consequuntur nostrum reiciendis nihil.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat maiores soluta repellendus accusantium possimus repellat aperiam, ducimus impedit delectus perspiciatis eligendi error dolores ipsam totam consectetur magni quidem obcaecati!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium fugiat accusamus soluta aut temporibus, voluptas ut distinctio ratione quisquam possimus quas enim consequuntur cupiditate corporis! Repellat quae consequuntur eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex beatae cupiditate incidunt commodi voluptatibus hic vel, dolores minus veritatis saepe deserunt repellendus cum voluptatem doloremque repellat pariatur eligendi exercitationem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatum eius rerum ratione et aperiam quo, optio, ipsum, sequi tempora laboriosam animi nihil natus. Enim ea consequuntur nostrum reiciendis nihil.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat maiores soluta repellendus accusantium possimus repellat aperiam, ducimus impedit delectus perspiciatis eligendi error dolores ipsam totam consectetur magni quidem obcaecati!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium fugiat accusamus soluta aut temporibus, voluptas ut distinctio ratione quisquam possimus quas enim consequuntur cupiditate corporis! Repellat quae consequuntur eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex beatae cupiditate incidunt commodi voluptatibus hic vel, dolores minus veritatis saepe deserunt repellendus cum voluptatem doloremque repellat pariatur eligendi exercitationem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatum eius rerum ratione et aperiam quo, optio, ipsum, sequi tempora laboriosam animi nihil natus. Enim ea consequuntur nostrum reiciendis nihil.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat maiores soluta repellendus accusantium possimus repellat aperiam, ducimus impedit delectus perspiciatis eligendi error dolores ipsam totam consectetur magni quidem obcaecati!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium fugiat accusamus soluta aut temporibus, voluptas ut distinctio ratione quisquam possimus quas enim consequuntur cupiditate corporis! Repellat quae consequuntur eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex beatae cupiditate incidunt commodi voluptatibus hic vel, dolores minus veritatis saepe deserunt repellendus cum voluptatem doloremque repellat pariatur eligendi exercitationem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatum eius rerum ratione et aperiam quo, optio, ipsum, sequi tempora laboriosam animi nihil natus. Enim ea consequuntur nostrum reiciendis nihil.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat maiores soluta repellendus accusantium possimus repellat aperiam, ducimus impedit delectus perspiciatis eligendi error dolores ipsam totam consectetur magni quidem obcaecati!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium fugiat accusamus soluta aut temporibus, voluptas ut distinctio ratione quisquam possimus quas enim consequuntur cupiditate corporis! Repellat quae consequuntur eveniet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex beatae cupiditate incidunt commodi voluptatibus hic vel, dolores minus veritatis saepe deserunt repellendus cum voluptatem doloremque repellat pariatur eligendi exercitationem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatum eius rerum ratione et aperiam quo, optio, ipsum, sequi tempora laboriosam animi nihil natus. Enim ea consequuntur nostrum reiciendis nihil.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat maiores soluta repellendus accusantium possimus repellat aperiam, ducimus impedit delectus perspiciatis eligendi error dolores ipsam totam consectetur magni quidem obcaecati!
        </p>

    </body>

</html>