h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    background-color: #efefef;
    z-index: 10;}
p {
    font-size: medium;
    position: relative;  /* makes text overlap when you scroll */
    top: 70px;
    left: 70px;}
    
blockquote {
    float: right; /* Float is used to keep elements side by side */
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;}