body {
    background-image: url("C:/Users/yashk/OneDrive/Desktop/Codes/HTML-CSS/CSS/Images/bg.jpg");
    background-repeat: repeat; /* repeats the image if it's not big enough */
    background-attachment: fixed;
    /* The background-attachment property specifies whether a background image should stay in one position or move as the user
       scrolls up and down the page. It can have one of two values: fixed and scroll */
}

/* The background property acts like a shorthand for all of the other background properties : 
    background: #ffffff url("images/tulip.gif") no-repeat top right;
*/

img.large {
    width: 500px;
    height: 500px;}
img.medium {
    width: 250px;
    height: 250px;
    float: right;
    margin-left: 10px;}
img.small {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px auto;}
