div.box {
    height: 300px;
    width: 300px;
    background-color: #bbbbaa;}
.moog {
    height: 75%;
    width: 75%;
    background-color: #0088dd;}

/* Min and max width */
td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;}
h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;}
h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;}

/* Min and max height */
p {
    min-height: 10px;
    max-height: 30px;
    overflow: scroll}  /* Overflow scroll/hidden is used to deal with content in a box which is larger than the box itself. */